@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
  
  @media screen {
    zoom: 92%;
    
    
  }
}

body {
  background-color: black;
  font-size: 1rem;
  color: #fff;
  
 
  
  
    
}

header {
  padding: 6rem;
  position: absolute;
  align-items: center;
  left: 98rem;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 0.125rem);
  gap: 76.875rem;
}

.logotipo {
  position: absolute;
  width: 12.3125rem;
  transform: translateX(-50%);
  left: -36rem;
  top: 4rem;
  cursor: pointer;
}

nav {
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    text-align: center;
    cursor: pointer;
    left: 98rem;
  }

  .signup {
    border-color: rgba(224, 19, 255, 1);
    border-style: groove;
    background-color: rgba(0, 255, 255, 0);
    width: 8.75rem;
    height: 3.125rem;
    transform: translateX(50%);
    border-radius: 3.125rem;
    justify-content: center;
    padding: 0.75rem;
    font-family: "Montserrat";
  }

  .binance {
    background-color: rgb(224, 19, 255);
    width: 11.875rem;
    height: 3.125rem;
    transform: translateX(50%);
    border-radius: 3.125rem;
    justify-content: center;
    padding: 0.9375rem;
    font-family: "Montserrat";
    max-width: fit-content;
  }
}

.text-purple {
  position: absolute;
  top: 35rem;
  transform: translateX(-50%);
  transform: translateY(20%);
  left: 55rem;
  width: 100rem;
  padding-top: 0.3125rem;
  font-family: "jockey one";
  font-size: 5rem;
  letter-spacing: 0.25rem;
  border-right: 0.375rem solid #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: mark 0.5s step-end infinite, write 3s steps(22, end) infinite;
  width: 0ch;
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

/* Animação para o efeito de cursor piscando */
@keyframes write {
  20% {
    width: 35ch;
  }
  70% {
    width: 35ch;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.smartphone {
  transform: translateX(-50%);
  position: absolute;
  left: 120rem;
  top: 94rem;
  width: 30rem;
}
.real-time {
  position: absolute;
  transform: translateX(50%);
  left: 38rem;
  top: 113rem;
  font-family: "Montserrat";
  font-size: 3.75rem;
}

.coins {
  transform: translateX(-50%);
  position: absolute;
  left: 100rem;
  width: 120rem;
  top: 80rem;
}

#text-information {
  position: absolute;
  transform: translateX(-50%);
  left: 99rem;
  top: 156rem;
}

div .real-time::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0));
  content: "";
  position: absolute;
  top: 9.4rem;
  left: -13rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  filter: brightness(4px);
  width: 105rem;
  height: 60rem;
  background-repeat: no-repeat;
  border-radius: 3.125rem;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}

div {
  & h2 {
    position: relative;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: -3rem;
    font-size: 3.4375rem;
    letter-spacing: 0.0625rem;
    word-spacing: 17.5rem;
    top: 25rem;
  }
}

div .number::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0.842));
  content: "";
  position: absolute;
  top: -20rem;
  left: -50rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 225rem;
  height: 10rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}



.liquidez {
  transform: translateX(50%);
  left: -1rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.holders {
  transform: translateX(50%);
  left: 20.8rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.rentabilidade {
  transform: translateX(50%);
  left: 39.8rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.mercado {
  transform: translateX(50%);
  left: 55.1rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}

.star {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  top: 5rem;
  left: -130rem;
}

div {
  & h1 {
    font-family: "Montserrat";
    transform: translateX(-50%);
    left: 22rem;
    position: absolute;
    top: 44rem;
    font-size: 4rem;
    font-weight: bold;
  }
}

.dúvidas {
  transform: translateX(-50%);
  left: 80rem;
  top: -23.125rem;
  position: relative;
  z-index: -2;
}
.dúvidas::before {
  background-color: purple;
  content: "";
  position: absolute;
  top: 65.4rem;
  left: -19rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 18rem;
  height: 4rem;
  background-repeat: no-repeat;
  z-index: -2; /* Coloca o fundo atrás do texto */
}

.dúvidas-list{
  font-size: 10rem;
}

.o-que-é {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 48.4rem;
  display: flex;
  position: absolute;
  top: 69.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.o-que-é::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0));
  content: "";
  position: absolute;
  display:flex;
  top: 0.8rem;
  left: -0.94rem;
  transform: translateX(-50% 50%);
  transform: translateY(-50%);
  width: 30rem;
  height: 3rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}

.como-eu-posso {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 52.7rem;
  display: flex;
  position: absolute;
  top: 73.125rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.como-eu-posso::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0));
  content: "";
  position: absolute;
  top: 0.8rem;
  left: -1rem;
  transform: translateX(-50% 50%);
  transform: translateY(-50%);
  width: 20rem;
  height: 3rem;
  display:flex;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}

.como-recebo {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 96rem;
  display: flex;
  position: relative;
  top: 76.6875rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.como-recebo::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0));
  content: "";
  position: absolute;
  display:flex;
  top: 0.9rem;
  left: -1.2rem;
  transform: translateX(-50% 50%);
  transform: translateY(-50%);
  width: 30rem;
  height: 3rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}

.qual-risco {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 53.2rem;
  display:flex;
  position: absolute;
  top: 80.160rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.qual-risco::before {
  background: linear-gradient(45deg, rgb(139, 68, 125), rgba(0, 0, 0, 0));
  content: "";
  position: absolute;
  display:flex;
  top: 1.2rem;
  left: -1.2rem;
  transform: translateX(-50% 50%);
  transform: translateY(-50%);
  width: 20vw;
  height: 3.125rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.5; /* Ajusta a opacidade do fundo */
}

.plus {
  display:flex;
  gap: 2.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 38vw;
  top: 35.4vw;
  cursor: pointer;
}
.plus-list{
  display:flex;
  gap: 2.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 30vw;
  top: -6vw;
  cursor: pointer;


}
.plus-2 {
  display:flex;
  gap: 2.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 38vw;
  top: 37.2vw;
  cursor: pointer;
}

.plus-3 {
  display:flex;
  gap: 2.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 38vw;
  top: 38.9vw;
  cursor: pointer;
}

.plus-4 {
  display:flex;
  gap: 2.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 38vw;
  top: 40.6vw;
  cursor: pointer;
}
.exchange {
  position: relative;
  top: 15vw;
  transform: translateX(-50%);
  left: 48rem;
}

.text-listing {
  transform: translateX(-50%);
  left: 54rem;
  position: absolute;
  top: 70rem;
  font-family: "Montserrat";
  font-size: 2.1875rem;
  font-weight: 300;
  width: 60rem;
}
.one {
  position: relative;
  width: 15rem;
  top: 41rem;
  cursor: pointer;
}
.two {
  position: relative;
  width: 17rem;
  top: 40.4rem;
  transform: translateX(-50%);
  left: 19rem;
  cursor: pointer;
}
.tree {
  position: relative;
  width: 17rem;
  top: 38.3rem;
  transform: translateX(-50%);
  left: 27rem;
  cursor: pointer;
}
.four {
  position: relative;
  width: 10rem;
  top: 37rem;
  transform: translateX(-50%);
  left: 35rem;
  cursor: pointer;
}

/*footer*/
.footer-text{
  font-size: large;
  transform: translateX(-50%);
  left: 50%;
  top: 20rem;
}

footer {
  transform: translateY(200%);
  bottom: 20rem;
}

.footer::before {
  background-color: purple;
  content: "";
  position: absolute;
  top: 240rem;
  left: -1rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 204.2rem;
  height: 20rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 1; /* Ajusta a opacidade do fundo */
}

.logotipo-footer {
  position: relative;
  width: 17rem;
  transform: translateX(-50%);
  transform: translateY(50%);
  top: 278rem;
  left: 23.8vw;
  cursor: pointer;
}

.procuct {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 123rem;
  top: 277rem;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.procuct-list {
  font-family: "Montserrat";
  transform: translateX(-50%);
  transform: translateX(-50%);
  left: 122.7rem;
  top: 281.8rem;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}

.Listing {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 149rem;
  top: 277rem;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.Listing-list {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 149rem;
  top: 281.8rem;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}

.community {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 179rem;
  top: 277rem;;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.community-list {
  font-family: "Montserrat";

  transform: translateX(-50%);
  left: 175.3rem;
  top: 282rem;;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}
