@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  @media screen {
    zoom: 92%;
  }
}

body {
  background-color: black;
  overflow-x: hidden;
  font-size: 1rem;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.logotipo {
  width: 12.3125rem;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 3rem;
}

button {
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.Entrar {
  border: 2px solid rgba(224, 19, 255, 1);
  background-color: transparent;
  color: #ffffff;
  width: 8.75rem;
  height: 3.125rem;
}

.Entrar:hover {
  box-shadow: 0 0 10px 3px rgba(224, 19, 255, 1);
  text-shadow: 0 0 5px rgba(224, 19, 255, 1), 0 0 10px rgba(224, 19, 255, 1);
}

.Binance:hover {
  background-color: rgba(224, 19, 255, 0.76);
}

.Binance {
  background-color: rgb(224, 19, 255);
  color: #ffffff;
  width: 11.875rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-purple {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 35rem;
  transform: translateX(-50%);
  transform: translateY(20%);
  left: 75rem;
  width: 100rem;
  padding-top: 0.3125rem;
  font-family: "jockey one";
  font-size: 5rem;
  letter-spacing: 0.25rem;
  border-right: 0.375rem solid #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: mark 0.5s step-end infinite, write 3s steps(22, end) infinite;
  width: 0ch;
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

/* Animação para o efeito de cursor piscando */
@keyframes write {
  20% {
    width: 35ch;
  }
  70% {
    width: 35ch;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.box-real-time {
  top: 25rem;
  position: relative;

  & h1 {
    position: relative;
    transform: translateX(50%);
    left: -49.1rem;
    top: 74rem;
    font-family: "Montserrat";
    font-size: 3.75rem;
    display: flex;
    justify-content: space-between;
  }
  & img {
    transform: translateX(-50%);
    position: relative;
    left: 150rem;
    top: 35rem;
    width: 30rem;
    justify-content: space-between;
    z-index: -1;
  }
}

.coins {
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
  position: relative;
  left: 110rem;
  width: 100rem;
  top: 6rem;
  z-index: -1;
}

/*dados de liquidez*/

.text-and-number {
  position: relative;
  transform: translateX(-50%);
  left: 102rem;
}

div {
  & h2 {
    position: relative;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: -3rem;
    font-size: 3.4375rem;
    letter-spacing: 0.0625rem;
    word-spacing: 17.5rem;
    top: 10rem;
  }

  & .h41 {
    position: relative;
    font-weight: 300;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: -2.1rem;
    font-size: 1.6rem;
    display: inline-flex;
    row-gap: 12rem;
    top: 11.2rem;
  }

  & .h42 {
    position: relative;
    font-weight: 300;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: 16rem;
    font-size: 1.6rem;
    display: inline-flex;
    row-gap: 12rem;
    top: 11.2rem;
  }

  & .h43 {
    position: relative;
    font-weight: 300;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: 32rem;
    font-size: 1.6rem;
    display: inline-flex;
    row-gap: 12rem;
    top: 11.2rem;
  }

  & .h44 {
    position: relative;
    font-weight: 300;
    font-family: "Montserrat";
    transform: translateX(-50%);
    transform: translateY(40%);
    left: 43rem;
    font-size: 1.6rem;
    display: inline-flex;
    row-gap: 12rem;
    top: 11.2rem;
  }
}

.liquidez {
  transform: translateX(50%);
  left: -1rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.holders {
  transform: translateX(50%);
  left: 20.8rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.rentabilidade {
  transform: translateX(50%);
  left: 39.8rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}
.mercado {
  transform: translateX(50%);
  left: 55.1rem;
  display: inline;
  position: relative;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
  top: 26.875rem;
}

#section3-information {
  position: relative;
  transform: translateX(-50%);
  left: 172rem;
  top: 20rem;
}

div {
  & h1 {
    font-family: "Montserrat";
    transform: translateX(-50%);
    left: 22rem;
    position: absolute;
    top: 44rem;
    font-size: 4rem;
    font-weight: bold;
  }
}

.box-dúvidas {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 176rem;
  display: flex;
  position: relative;
  top: 45rem;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 400;
}

.box-dúvidas {
  & h1 {
    transform: translateX(-50%);
    left: -71rem;
    top: -1rem;
  }
}

.box-dúvidas {
  & p {
    position: fixed;
    transform: translatex(-50%);
    left: 3rem;
    gap: 10rem;
    font-size: 1.3rem;
  }
}

.box-dúvidas::before {
  background-image: linear-gradient(
    to bottom,
    rgb(134, 0, 151),
    rgb(35, 7, 43)
  );
  content: "";
  position: relative;
  top: 10rem;
  left: -141rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 230rem;
  height: 50rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 0.6; /* Ajusta a opacidade do fundo */
}

.plus-list {
  display: grid;
  gap: 1.5rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 20rem;
  top: 6rem;
  cursor: pointer;
}

/*seção-sobre-pueple*/

.about-purple {
  position: relative;
  transform: translateX(-50%);
  left: 100rem;
  top: 40rem;
  display: flex;
  justify-content: space-between;
  font-family: "montserrat";

  & img {
    position: relative;
    width: 100rem;
    transform: translateX(-50%);
    left: 1rem;
    top: 17rem;
  }
}

.title-about {
  transform: translateX(-50%);
  left: -2rem;
  top: 52rem;
}

.text-about {
  transform: translateX(-50%);
  left: 10rem;
  position: relative;
  top: 68rem;
  display: flex;
  width: 55rem;
  font-size: 2rem;
  justify-content: space-between;
}

.Learn-more {
  background-color: purple;
  position: relative;
  transform: translateX(-50%);
  left: -256rem;
  color: #fff;
  top: 100rem;
  width: 16rem;
  height: 5rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:active {
  transform: translateY(3px) scale(0.95);
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.Learn-more:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #fff;
  color: purple;
}

/*seção-exchange*/

.exchanges-list {
  position: relative;
  top: 2rem;
  transform: translateX(-50%);
  left: 115rem;
}

.text-follow {
  left: 38rem;
  transform: translateX(-50%);
  position: relative;
  top: 200rem;
  display: flex;
  width: 55rem;
  font-size: 2rem;
  justify-content: space-between;
  font-family: "Montserrat";
}

.exchanges {
  position: relative;
  transform: translateX(-50%);
  left: 100rem;
  top: 10rem;
}

.one {
  transform: translateX(-50%);
  left: 30rem;
  position: relative;
  width: 15rem;
  top: 210rem;
  cursor: pointer;
}
.two {
  transform: translateX(-50%);
  left: 33rem;
  position: relative;
  width: 15rem;
  top: 209rem;
  cursor: pointer;
}
.tree {
  transform: translateX(-50%);
  left: 38rem;
  position: relative;
  width: 15rem;
  top: 207.3rem;
  cursor: pointer;
}
.four {
  transform: translateX(-50%);
  left: 42rem;
  position: relative;
  width: 9rem;
  top: 206.3rem;
  cursor: pointer;
}

/*footer*/

.footer-all {
  position: relative;
  top: -76rem;
}

.footer-text {
  font-size: large;
  transform: translateX(-50%);
  left: 50%;
  top: 20rem;
}

footer {
  transform: translateY(200%);
  bottom: 20rem;
}

.logotipo-footer {
  position: relative;
  width: 17rem;
  transform: translateX(-50%);
  transform: translateY(50%);
  top: 278rem;
  left: 23.8vw;
  cursor: pointer;
}

.procuct {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 123rem;
  top: 277rem;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.procuct-list {
  font-family: "Montserrat";
  transform: translateX(-50%);
  transform: translateX(-50%);
  left: 122.7rem;
  top: 281.8rem;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}

.Listing {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 149rem;
  top: 277rem;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.Listing-list {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 149rem;
  top: 281.8rem;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}

.community {
  font-family: "Montserrat";
  transform: translateX(-50%);
  left: 179rem;
  top: 277rem;
  display: flex;
  position: absolute;
  font-size: 2.3rem;
  font-weight: 400;
}

.community-list {
  font-family: "Montserrat";

  transform: translateX(-50%);
  left: 175.3rem;
  top: 282rem;
  display: grid;
  position: absolute;
  gap: 0.625rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer;
}

.footer::before {
  background-color: purple;
  content: "";
  position: absolute;
  top: 150rem;
  left: -1rem;
  transform: translateX(-50%);
  transform: translateY(-50%);
  width: 204.2rem;
  height: 20rem;
  background-repeat: no-repeat;
  z-index: -1; /* Coloca o fundo atrás do texto */
  opacity: 1; /* Ajusta a opacidade do fundo */
}
